* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(45deg, rgb(46, 138, 110), rgb(212, 210, 44));
}

.title {
  margin: 2rem 0 1rem;
  letter-spacing: 0.6rem;
}

.search-container {
  margin-bottom: 1rem;
  position: relative;
}

.heading {
  text-align: center;
}

#search-box {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  color: black;
  font-size: 2rem;
  padding: 0.8rem 0 0.5rem 1rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

#search-btn {
  padding: 0 0.5rem;
  border: 0;
  outline: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 78%;
  position: absolute;
  background-color: green;
  top: 0;
  right: 0;
}

.temp {
  font-size: 3rem;
  padding: 0.7rem 0;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.weather-card {
  background: linear-gradient(150deg, rgba(0, 108, 248, 0.1) 15%, rgb(0, 108, 248));
  color: black;
  height: 100%;
  width: 50vw;
  padding: 2rem;
  line-height: 2.72rem;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  letter-spacing: 0.15rem;
}

.card-footer {
  margin: 0 auto;
  padding: 2rem 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

img {
  width: 3.5rem;
  height: 3.47rem;
  justify-self: left;
  margin-left: 5rem;
  margin-right: 4rem;
}

.flex-box {
  display: flex;
  justify-content: center;
}

@media screen
and (min-width: 370px) 
and (max-width: 767px) {

  .title {
    margin: 1rem 0 0.5rem;
    letter-spacing: 0.1rem;
  }

  .weather-card {
    background: linear-gradient(150deg, rgba(0, 108, 248, 0.1) 15%, rgb(0, 108, 248));
    color: black;
    height: 100%;
    width: 100%;
    padding: 2rem;
    line-height: 2.5rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 30px;
    letter-spacing: 0.15rem;
  }

  .card-footer {
    margin: 0 auto;
    padding: 1.5rem 0;
    background: white;
    width: 100%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }
}

@media screen and (min-width: 768px) {

  .title {
    margin: 1rem 0 0.5rem;
    letter-spacing: 0.1rem;
  }

  .weather-card {
    width: 70vw;
    padding: 2rem;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    letter-spacing: 0.15rem;
  }

  .card-footer {
    font-size: 1.7rem;
    padding: 1.5rem 0;
    background: white;
    width: 100%;
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
  }
}